<div class='contents'>
  <% @small_areas.each do |area| %>
    <div class="content_area">
      <ul class='more_list'>
        <li><%= link_to area.small_area_name,"/areas/#{area.middle_id}/small_areas/#{area.small_id}",method: :get %></li>
      </ul>
    </div>
  <% end %>
</div>
