<div class='contents row'>
  <div class='success'>
    <h3>投稿が完了しました</h3>
    <%= link_to '投稿一覧へ戻る', area_small_area_path(area_id: params[:area_id], id: params[:small_area_id]), method: :get %>
  </div>
</div>
