<div class='contents row'>
  <% @posts.each do |post| %>
   <div class="content_post">
        <div class="more">
          <ul class='more_list'>
            <li>
              <%= link_to '詳細',"/posts/#{post.id}",method: :get %>
            </li>
            <% if user_signed_in? && current_user.id == post.user_id %>
            <li>
              <%= link_to '編集',"/posts/#{post.id}/edit",method: :get %>
            </li>
            <li>
              <%= link_to '削除',"/tweets/#{post.id}",method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
      <%= simple_format(post.text) %>
    </div>
  <% end %>
</div>
