<div class='contents'>
  <div class='container'>
    <%= form_tag(area_small_area_posts_path(area_id: params[:area_id], small_area_id: params[:small_area_id]),method: :post) do %>
      <h3>投稿する</h3>
      <textarea  style="width: 90%" placeholder='感想を記入してください。' type="text" name="text"></textarea>
      <input type='submit' value='SENT'>
    <% end %>
  </div>
</div>
