// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.areas{


h2{
  text-align:center;
}

.content h2{
  margin-top:30px;
}

h4{
  margin: 15px 0 0 0;
  text-align:center;
}

h3::before{
  content: " ";
  display:inline-block;
  background:url(/assets/check.png);
    position: relative;
    width: 16px;
    height: 16px;
    background-size:contain;
    vertical-align:middle;
}

.textarea{
  width: 30%;
  height: 200px;
}

input{
  width:30%;
}

.sort{
  /*height: 10%;*/
  margin: 0 auto;
  text-align: center;
}

ol.more_list{
  counter-reset:number 3; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0.1rem;
/*  background: #f5faff; */
}
ol.more_list li{
  border-bottom: 1px solid #DDD;
  position: relative;
  padding-left: 30px;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.1em 30px;
  font-size: 1.4rem;
}

ol.more_list div.content_area:nth-child(1) li:before{
 position: absolute;
  content: url(/assets/icons8-オリンピックの金メダル-16.png);
  /*以下数字のデザイン変える*/
  display:inline-block;
  left: 0;
  width: 25px;
  height: 25px;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ol.more_list div.content_area:nth-child(2) li:before{
 position: absolute;
  content: url(/assets/icons8-オリンピック-銀メダル-16.png);
  /*以下数字のデザイン変える*/
  display:inline-block;
  left: 0;
  width: 25px;
  height: 25px;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ol.more_list div.content_area:nth-child(3) li:before{
 position: absolute;
  content: url(/assets/icons8-オリンピック-銅メダル-16.png);
  /*以下数字のデザイン変える*/
  display:inline-block;
  left: 0;
  width: 25px;
  height: 25px;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ol.more_list div.content_area:nth-child(n+4) li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display:inline-block;
  background: #808080ba;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align:center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul.bottom_list {
  font-size: 13px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

ul.bottom_list li {
  margin: 0 auto;
  padding-right: 0px;
  text-align:center;
}



}


