
.form_box{
  margin:0 auto;
  text-align: center;
}


input {
    padding: 0.5em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:white;
}

