@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
  margin:0;
  padding:0;
  border:none;
  outline:none;
  font-size:1rem;
}
header,footer,nav,section{display:block;}
html{
  font:13px/1.3 "ヒラギノ角ゴ Pro W3";
  -webkit-text-size-adjust:none;}

li{list-style:none;}

/*ここらか全ページ共通*/


h1{
  /*margin:0 .2em;*/
  /*padding-bottom:.2em;*/
  /*border-bottom:dotted 1px #17A4E5;*/
  font-size:30px;
  font-weight:bold;
  line-height:1;
  /*position:relative;*/
}

h2{
  font-size : 18px ;
  margin : 1em 0 0.8em 0;
  padding: 0px 10%;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

h3{
  font-size : 16px ;
  margin : 1em 0 0.8em 0;
  padding: 0px 15%;
}


a{
  text-decoration: none;
}

p{
  text-align: left;
}

span{
  font-size: 16px;
}

header{
  height:48px;
  background-color: gray;
}

.header_left {
  height:100%;
  width:70%;
  float:left;
}

 h1{
    height: 48px;
    background-color: #FF8104;
    color: #ff0000;
  }



.header_right {
  height:48px;
  width:30%;
  float: right;
  background-color: blue;
}

.header_right_left {
  height:48px;
  width:50%;
  float: left;
  background-color: red;
}

.header_right_right {
  height:48px;
  width:50%;
  float: right;
  background-color: green;
}

/*いい感じなリンクを作る*/
.link_box{
    position: relative;
    width:100%;
    height:100%;
    /*padding:5%;*/
    margin:0px auto;
}

.link_box a{
  position: absolute;
   margin: 0 auto;
   width: 100%;
   height: 100%;
}


div.img_part{
  width:100%;
  height:60%;
  text-align: center;
}

.img_part img{
   width: 40%;
   height: 70%;
   padding-top: 10%;
}

div.text_part{
  width:100%;
  height:40%;
  text-align: center;
}

.text_part span{
  font-size: 10px;
  color:#ffffff;
  font-weight:bold;
}
/*

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.contents{
  width:95%;
  height:auto;
  /*overflow:hidden*/
  margin: 10px auto;
  .content{
      border-bottom: dashed 0.1rem orange;
  }
}

.content{
  width:100%;
  margin: 1rem auto;
  text-align: center;
}

.content_area{
  /*width: 940px;*/
  width: 90%;
  /*height:10px;*/
  margin: 0 auto;
  text-align: center;
}

div.content_bottom{
  /*background-color:   ;*/
}

footer{
  text-align: center;
  background-color: #FF8104;
  position: fixed;
  bottom: 0;
    width: 100%;
    /*height: 100px;*/
}


