// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container input[type="text"],
textarea {
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
textarea {
    width: 80%;
}

.content_post {
    padding: 0.5em 1em;
    margin: 1em 1em;
    font-weight: bold;
    /*color: #6091d3;*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.content_post p {
    margin: 0;
    padding: 0;
}

.content_post .poster{
    text-align:right;
    font-size:12px;
}
