// Place all the styles related to the small_areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small_areas{

.plot{
  margin:1px;
  border-bottom: 1px solid #DDD;
  span{
  font-size:18px;

  }
}

ol.more_list{
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0.1rem;
/*  background: #f5faff; */
}
ol.more_list li{
  border-bottom: 1px solid #DDD;
  position: relative;
  padding-left: 30px;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 30px;
  font-size: 1.4rem;
}

ol.more_list li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display:inline-block;
  background: #808080ba;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align:center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ol.more_list li:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-top: solid 3px #808080;
    border-right: solid 3px #808080;
    margin-top: -5px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}



.edit_list {
  list-style-type: none;
  font-size: 0;
}

.edit_list li {
  /*background-color: #222222;*/
  display: inline;
  font-size: 12px;
  width: 5%;
  text-align: right;
  margin-right: 2px;
}

.edit_list a:link { color: #0000ff; }
.edit_list a:visited { color: #000080; }


}
